{
    "presets": [
        "es2015",
        "stage-0",
        "react"
    ],
    "plugins": [
        [
            "import",
            {
                "libraryName": "UI",
                "style": false
            }
        ]
    ]
}